{% extends "base.twig" %}

{% block title %}Welcom Home{% endblock %}

{% block content %}
  <div class="entry-list">
    {% for post in posts %}
        {{ include("post.twig") }}
    {%  else %}
      No articles present
    {% endfor %}
  </div>
{% endblock %}
