{% extends "base.twig" %}

{% block title %}Blog posts{% endblock %}

{% block content %}
<section>
    <div class="container">
    {% if args.msg_content is not empty %}
      <div id="message" class="{{ args.msg_type }}">{{ args.msg_content }}</div>
    {% endif %}
      <div class="entry-list">
        {% for post in posts %}
            {{ include("post.twig") }}
        {%  else %}
          No articles present
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}
