{% extends "base.twig" %}

{% block title %}Blog posts{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="entry-list">
        {% for post in posts %}
            {{ include("post.twig") }}
        {%  else %}
          No articles present
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}
