{% extends "base.twig" %}

{% block title %}Blog posts{% endblock %}

{% block content %}

<section>
    <div class="container">

      <div class="entry-list">
      {% if message.content is not empty %}
        <p class="message {{ message.type }}">{{ message.content }}</p>
      {% endif %}
        {% for post in posts %}
            {{ include("post.twig") }}
        {%  else %}
          No articles present
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}
