<article>
    <h2><a href="{{ path_for('post-detail', { 'id': '1' }) }}">{{ post.getTitle() }}</a></h2>
    <time datetime="{{ post.getRawDate() }}">{{ post.getFormattedDate() }}</a></time>
</article>
